.img{
    display: none;
}

.home-content h1{
    font-size: 4rem;
}

.home-content p{
    font-size: 20px;
    margin-top: -20px;
}
.reg{
    width: 50px;
}
.content{
    margin-top: 10px;
}
.home-content .logo{
    width: 100%;
    margin-top: -100px;
    margin-bottom: -120px;
}
.Reg{
    min-width: 100px;
    min-height: 50px;
}
.Reg {
    font-size: 20px;
    padding: 10px 15px;
}
.Reg::before {
    content: '';
      border-radius: 28px;
      min-width: calc(200px + 8px);
      min-height: calc(50px + 8px);
    
    }
#home hr{
    margin: 10px auto;
    width: 80%;
}
#home{
    display: flex;
    height: 100vh;
    margin-top: -80px;
    
}
.navbar-toggler-icon .navbar-toggler{
    color: #ffff !important ;
}

/* about */
.about-section{
    padding-bottom: 820px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 20px;
    padding: 10px;
}

.title{
    font-size: 2rem;
    margin-top: 40px;
}

.title p{
    display: inline;
    color: white;
    
}

.about-content {
    margin: 10px;
    /* text-align: center; */
    text-align: justify;
    font-size: 2px;
}
.about-content p{
    font-size: 15px;
}
.about-section{
    margin-top: -200px;
    height: 90vh;
}


/*registration*/
#checkbox{
    margin: 4px;
}
#exampleFormControlInput1{
    width: 70vw;
    /* text-align: center; */
    margin-left: 0px;
}
#exampleFormControlInput2{
    width: 70vw;
}


/* sponsor */
#sponsor {
    flex-wrap: wrap;
    margin-bottom: 45px;
}


#sponsor img {
    height: 100px;
}
.disclaimer{
    font-size: 5px;
}
